:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --btnFontColor: #7FFFD4;
    --btnBg: #F5F5DC;
} /*this corresponds to the <html> */

body {
    /*font-family: monospace;*/
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

ul {
    text-align: center;
    font-family: helvetica;
}
li {
    list-style: circle;
}

.list {
    list-style:square
}
/* this is for class. if the class is list, it applies*/ 
#msg {
    font-family: monospace
}
/* # is for id. if that thing has the id of msg, then it applies*/
.light-theme {
    /*color: #000000; this is the font color*/
    /*background: #00FF00; this is literally the background color and these are connected to the body*/
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --topnavbutton: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--green);
    --btnFontColor: var(--black);
    --topnavbutton: var(--green);
}

/*this is for the top navigation bar*/
.topnav {
    background-color: var(--white);
    overflow: hidden;
}

.topnav a{
    float: right;
    color: var(--bg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*hover is when the user has the mouse pointer on it*/
.topnav a:hover {
    background-color: var(--black);
    color: var(--topnavbutton);
}
/* active is when it is active or not*/
.topnav a.active {
    background-color: var(--white);
    color: var(--topnavbutton);
}

